body {
    margin: 0;
    font-family: sans-serif;
}

#content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 10vh 85vh 5vh;
}

.header {
    grid-column: 1/3;
    background-color: #333;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sidebar {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: x-large;
    background-color: #ddd;
    padding: 20px 20px;
    flex: 1;
    overflow-y: auto;
}

.nav {
    all: unset;
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    margin: 0;
}

.title {
    font-weight: bolder;
    font-size: xx-large;
}

.container {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
    margin: 0;
}

.options:hover {
    cursor: pointer;
    background-color: #CCCCCC;
    border-radius: 8px;
}

.main {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.menu {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
}

.task {
    all: unset;
    font-size: large;
    display: flex; 
    gap: 10px;
    padding: 10px 0px;
}

.btn.icon {
    height: 25px;
}

.footer {
    grid-column: 1/3; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    color: #eee;
}

.icon {
    height: 35px;
}

.inputProject {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

fieldset {
    all: unset;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.add, .cancel {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.add {
    border: 1px solid #99dd99;
    background-color: #aaffaa;
}

.cancel {
    border: 1px solid #eeadad;
    background-color: #f5b2b2;
}

.add:hover, .cancel:hover {
    cursor: pointer;
}

.keyIcon {
    height: 30px;
}

.todoSection {
    display: none;
}